#wrap{
    max-width: 960px;
    margin: 0 auto;
}
#header{
    background-color: black;
    color: #CDCDCD;
    padding: 5px;
}
#footer{
    background-color: gray;
    color: #CDCDCD;
    text-align: center;
    padding: 5px;
}
nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}
#wrap-content{
    display: flex;
    flex-wrap: wrap;
}
#contentleft,
#contentright{
    padding: 10px;
    box-sizing: border-box;
}
#contentleft{
    flex-basis: 100%;
}
#contentright{
    flex-basis: 100%;
}

@media (min-width: 600px) {
    #contentleft{
        flex-basis: 70%;
    }
    #contentright{
        flex-basis: 30%;
    }
}@media (min-width: 1200px) {
    #contentleft{
        flex-basis: 80%;
    }
    #contentright{
        flex-basis: 20%;
    }
}


p{
    text-align: justify;
}

