nav ul {
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 5px;
}
footer{
    text-align: center;
    position: absolute;
}
#wrap-content{
    display: flex;
    flex-wrap: wrap;
    height: 550px;
}
#contentleft,
#contentright{
    padding: 10px;
    box-sizing: border-box;
}
#contentleft {
    flex-basis: 100%;

}
#contentright {
    flex-basis: 100%;
}

@media (min-width: 100px) {
    #contentleft{
        flex-basis: 40%;
    }
    #contentright{
        flex-basis: 60%;
    }
}
@media (min-width: 1200px) {
    #contentleft{
        flex-basis: 35%;
    }
    #contentright{
        flex-basis: 65%;
    }
}